<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style type="text/css">
	* {
		margin: 0 auto;
		padding: 0;
	}
	#container {
		margin: 20px auto;
		padding: 20px;
	}
	.boxes{
		width: 50%;
		border: 1px solid black;
    border-radius: 10px;
		/* display: inline-block; */
		vertical-align: center;
		padding: 10px;
	}
	#header{
		width: 100%;
	}
	.wbord{
		border: 1px solid black;
		width: 50%;
	}
	.btn{
		display: inline-block;
	}
	h4{
		margin: 20px 0 0 0;
	}
  .messages{
    color: red;
  }
</style>
</head>
<body>
	<div id="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Add New Items</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="/dash">Home </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/logout">Logout</a>
		      </li>
		    </ul>
		  </div>
		</nav>
<br><br>
		<form action="/create" method="POST" class="boxes">
			{%csrf_token%}
		  <div class="form-group">
		    <label for="exampleInputEmail1">Product</label>
		    <input type="text" class="form-control" name="product" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Product">
		  </div><br>
		  <button type="submit" class="btn btn-success">Add Item</button>
			{% if messages %}
				{% for message in messages %}
						<p{% if message.tags %} class="messages"{% endif %}>{{ message }}</p>
				{% endfor %}
			{% endif %}
		</form>
</body>
</html>
